* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: 'circular std', sans-serif; }

body {
  font-family: 'Roboto', sans-serif; }

section .section__container {
  max-width: 450px;
  margin: 0 auto;
  padding: 15px 30px;
  border-top: 5px solid #ff6873; }
  section .section__container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #ff6873;
    margin: .47em 0; }
  section .section__container .section__container-navList {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    section .section__container .section__container-navList .section__container-navItem {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      border-bottom: 1px solid #dce7eb;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
      section .section__container .section__container-navList .section__container-navItem.is-active h2 {
        color: #ff6873; }
      section .section__container .section__container-navList .section__container-navItem.is-active h2:before {
        -webkit-transform: translate(-2px, 0) rotate(-45deg);
        -ms-transform: translate(-2px, 0) rotate(-45deg);
        transform: translate(-2px, 0) rotate(-45deg); }
      section .section__container .section__container-navList .section__container-navItem.is-active h2:after {
        -webkit-transform: translate(2px, 0) rotate(45deg);
        -ms-transform: translate(2px, 0) rotate(45deg);
        transform: translate(2px, 0) rotate(45deg); }
      section .section__container .section__container-navList .section__container-navItem .section__container-navTitle {
        font-size: 26px;
        line-height: 34px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0;
        padding: .27em 0;
        cursor: pointer;
        position: relative; }
        section .section__container .section__container-navList .section__container-navItem .section__container-navTitle:before, section .section__container .section__container-navList .section__container-navItem .section__container-navTitle:after {
          content: "";
          position: absolute;
          background-color: #ff6873;
          width: 3px;
          height: 9px;
          -webkit-transform: translate(-6px, 0);
          -ms-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
          margin-top: 16px;
          right: 20px;
          -webkit-transform: 480ms;
          -ms-transform: 480ms;
          transform: 480ms; }
        section .section__container .section__container-navList .section__container-navItem .section__container-navTitle:before {
          -webkit-transform: translate(-2px, 0) rotate(45deg);
          -ms-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
          -webkit-transform: all 480ms;
          -ms-transform: all 480ms;
          transform: all 480ms; }
        section .section__container .section__container-navList .section__container-navItem .section__container-navTitle:after {
          -webkit-transform: translate(2px, 0) rotate(-45deg);
          -ms-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg); }
      section .section__container .section__container-navList .section__container-navItem .section__container-navText {
        padding: .67em 0;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 1px;
        opacity: 0;
        overflow: hidden;
        height: 0;
        -webkit-transform: all ease-in-out .5s;
        -ms-transform: all ease-in-out .5s;
        transform: all ease-in-out .5s; }
        section .section__container .section__container-navList .section__container-navItem .section__container-navText.is-active {
          opacity: 1;
          height: 100%; }
